#metastrip {
  background: #15294b;
  height: 9vh;
}

.FSR {
  text-transform: uppercase;
  color: white;
  display: inline-block;
  margin: 0 1rem;
  font-size: 1.2rem;
  cursor: pointer;
}
#dropdown {
  margin: 0 2rem;
  cursor: pointer;
}
#Full_Stack {
  color: white;
  font-weight: 500;
  font-size: larger;
}
#progressbar {
  padding: 0 3rem;
}
#menu {
  background-color: #15294b;
  position: absolute;
  height: 9vh;
  width: 100%;
  z-index: 1;
}
.activeFSR {
  background-color: white;
  color: #15294b;
  font-weight: bold;
  border-radius: 10px;
}
#menu_fsr {
  margin: 0 3rem;
}
#menu_fsr span {
  padding: 0 1rem;
}
@media only screen and (max-width: 770px) {
  #dropdown {
    margin: 0 1rem;
    cursor: pointer;
    width: 15rem;
  }
}

@media only screen and (max-width: 680px) {
  #dropdown {
    margin: 0 1rem;
    cursor: pointer;
    width: 15rem;
  }
  .FSR {
    text-transform: uppercase;
    display: inline-block;
    margin: 0 1rem;
    font-size: 0.9rem;
    cursor: pointer;
  }
  #progressbar {
    padding: 0;
  }
  #Full_Stack {
    font-size: 1rem;
  }

  #menu_fsr span {
    padding: 0 0.5rem;
  }
}
