#home {
  display: inline-block;
  border: 2px solid black;
  overflow-y: scroll;
}
.text {
  font-size: 1.5rem;
}
.data {
  display: inline-block;
  text-align: center;
  margin: 0 0.8vw;
}
.data span {
  color: black;
  font-size: 1.6rem;
  display: block;
}
.module {
  width: max-content;
  display: inline-block;
  margin: 1vh auto;
  background-color: white;
  box-shadow: 0 0 5px rgb(18, 148, 255);
  padding: 2vw 0;
  border-radius: 5px;
}

.course {
  display: inline-flex;
  margin: 0 3vw;
}

.heading {
  display: block;
  color: black;
  margin: 2rem 0;
  font-size: 2.5rem;
  font-weight: 500;
}

#activeCourse {
  background-color: white;
  margin: 1rem;
  padding: 2rem;
  width: max-content;
  display: inline-block;
  box-shadow: 0 0 0.5rem rgb(18, 148, 255);
}

#continue {
  margin: 3rem;
}
.blueText {
  font-size: 1rem;
  font-weight: bold;
  color: blue;
  text-align: end;
  text-transform: uppercase;
}
#today {
  margin-left: 2rem;
  padding: 0 2rem;
  border-left: 2px solid black;
  float: right;
}
#upcoming {
  margin: 3rem;
  height: 30rem;
}

#overview {
  padding: 1rem;
  width: 28rem;
  margin: 1rem;
  background-color: white;

  box-shadow: 0 0 0.5rem rgb(18, 148, 255);
}
.box {
  border: 2px solid rgb(0, 162, 255);
  width: max-content;
  margin: 2rem auto;
  padding: 1rem;
  padding-bottom: 0;
  border-radius: 0.5rem;
}
