.content {
  margin: 0 auto;
  width: max-content;
  box-shadow: 0 0 1rem #00aaffbe;
  background: white;
  border-radius: 5px;
}
#active_course {
  height: 100%;
  width: 50%;
  display: flex;
}
#overview {
  height: 100%;
  width: 30%;
}
.flexbox {
  display: flex;
  width: 100%;
  height: fit-content;
}
.module {
  width: 20%;
  background-color: white;
  box-shadow: 0 0 1rem #00aaffbe;
  height: 70%;
  margin: 0 auto;
}

.heading {
  width: 90%;
  display: block;
  font-size: 3rem;
  font-weight: 500;
  margin: 2rem auto;
}

.blueText {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bolder;
  color: #1859d1;
  margin: 0.5rem auto;
  width: 16%;
  display: block;
}

.img_course {
  display: inline-block;
  margin: auto 5%;
  height: fit-content;
  width: max-content;
}
.course_name {
  font-size: xx-large;
}
#ongoing {
  display: inline-block;
  width: max-content;
  flex-direction: column;
  margin: 0 auto;
  margin-right: 0;
  margin-left: 7rem;
  border-right: 1px solid #0096ff;
}
#today {
  display: inline-flex;
  height: fit-content;
  margin: 0 auto;
  padding: 1rem;
  width: 15rem;
}

#Progress {
  display: inline-block;
  margin: 0px 15%;
  position: relative;
  top: 0.5rem;
}

.blueTextOverview {
  color: #1859d1;
  font-weight: bolder;
  text-transform: uppercase;
}

.parameter {
  text-align: start;
  width: 20rem;
  align-items: flex-end;
  display: flex;
}
.ongoing_img {
  margin: 1rem;
  display: inline-flex;
}

#today {
  display: inline-block;
  margin: 0;
}
.progressBox {
  display: inline-block;
  width: 50%;
}
.blueBox {
  border: 2px solid #0096ff;
  padding: 1rem 1rem 0;
  border-radius: 1rem;
  margin: 1rem 0;
}

@media only screen and (max-width: 1000px) {
  .flexbox {
    display: block;
  }
  #active_course,
  #overview {
    margin: 2%;
    width: 96%;
  }
  .blueText {
    margin-right: 2%;
    width: max-content;
  }
}

.param {
  display: inline-block;
  width: 6rem;
  text-align: end;
  color: #0096ff;
}

.data {
  display: inline-block;
  text-align: center;
  margin: 3rem 0.6rem;
}
.data span {
  color: black;
  font-size: 1.6rem;
  display: block;
}
.arrow {
  margin: 0 1rem;
  width: 2rem;
}
